@import "../../../index.scss";

.hero__component {
    background-color: $white;
    width: 100%;
    height: calc(100vh - 5rem);
    background-image: url("../../../assets/imgs/HeroBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media screen and (min-width: $breakpoint-4) {
        background-image: url("../../../assets/imgs/Bg2.svg");
    }
        

    .hero__content {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $breakpoint-4) {
            width: 80%;
        }

        .hero__text {
            width: 90%;
            margin: 0 auto;

            .hero__title {
                font-family: $font-logo;
                font-size: $font-fiftySix;
                font-weight: $font-weight-700;
                color: $black;
                text-align: center;
                margin-bottom: 1rem;
            }

            .hero__description {
                font-family: $font-text;
                font-size: $font-twentyFour;
                font-weight: $font-weight-400;
                color: $gray;
                text-align: center;
                margin-bottom: 1rem;
            }
        }

        .hero__buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.5rem;
            margin: 0 auto;
            
            @media screen and (min-width: $breakpoint-4) {
                justify-content: space-between;
                width: 30rem;
            }

            .hero__button {
                background-color: $black;
                color: $white;
                font-size: $font-twenty;
                font-weight: $font-weight-400;
                display: block;
                height: 4rem;
                width: 14rem;
                margin-top: 1rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 10px;

                &:hover {
                    background-color: $primary;
                    color: $white;
                }
            }

            .hero__button_border {
                background-color: transparent;
                color: $black;
                font-size: $font-twenty;
                font-weight: $font-weight-400;
                display: block;
                height: 4rem;
                width: 14rem;
                margin-top: 1rem;
                border: 1px solid $black;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: all 300ms ease-in-out;
                box-shadow:rgba(0, 0, 0, 0.2) 0px 0px 10px;

                &:hover {
                    background-color: $primary;
                    color: $white;
                    border: none;
                }
            }
        }

    }
}
