@import "../../../index.scss";

.cta__component {
    width: 100%;
    padding: 4rem 0;
    background-color: $white;
    display: grid;
    place-items: center;
    margin: 2rem 0;

    .cta__description {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        font-family: $font-text;
        font-size: $font-fortyTwo;
        font-weight: $font-weight-500;
        line-height: 1.2;
        color: $black;
    }

    .cta__button {
        background-color: $black;
        color: $white;
        font-size: $font-twenty;
        font-weight: $font-weight-400;
        display: block;
        height: 4rem;
        width: 14rem;
        margin-top: 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
            background-color: $primary;
        }
    }
}
